.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
}
.header{
    font-size: 1.3rem;
}
.gallery img{
    width: 270px;
    height: 360px;
}
.coucou{
    flex-direction: column;
}
.coucou h2{
    text-align: center;
}

.coucou img{
    width: 200px;
    height: 150px;
    padding: 0px 15px;
}
.box{
    height: 150px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}
.box h2{
    color: yellowgreen;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.box p{
    color: white;
    font-size: .8rem;
}
